@{
    ViewData["Title"] = "Home Page";
}


    <div class="container pt-5">
        <div class="row mt-5 p-0">
            <div class="hero-div col-sm-12 col-md-6">
                <img class="hero" src="/img/triangle.jpg" alt="picture of a triang">
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="intro">
                    <div>
                        <img id="superdog-text" src="/img/TriangleLogoColor.png" alt="triangle text">
                    </div>
                    <br>
                    <p>Triangle Calculator is a trigonometry application that calculates the angles of a triangle given the measurements of their sides. It then classifies the triangle into types based on side and angle.</p>
                    <p>This program was made using ASP.NET Core 5, C#, JavaScript, HTML/CSS, and Bootstrap 4.</p>
                    <div>
                        <a href="app.html" class="form-control btn btn-dark btn-lg">Go to the App!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

